*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy;
}
html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black
}
#card{
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: #fff;
   text-align: center;
    padding: 30px;

}
#card img{
    height: 60%;
    width: 100%;
    object-fit: center;
    object-position: center;
    border-radius: 10px;
}
#card h1{
    font-size: 25px;
    margin : 10px,0;
    font-weight: 800px;
}
#card h5{
    font-size: 25px;
    margin: 20px;
    color:rgb(253, 2, 2);
    margin-bottom: 20px;
}
#card button{
    background-color: cadetblue ;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 50px;
    margin-bottom: 5px;
    boder: none;
    cursor: pointer;
}
/* #card #remove{
    background-color: #dadada;
    color: #111;
} */